.menu {
    display: none;
}

@media screen  and (max-width: 884px) {
    .menu {
        margin-left: 70px;
        margin-right: 70px;
        display: contents;
        display: flex;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        margin: 0 30px;
    }
}

@media screen and (max-width: 550px) {
    .menu {
        margin: 0 10px;
    }
}
