.carousel {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FAFAFA;
    box-shadow: 15px 15px 15px rgba(0.08, 0.08, 0.08, 0.08);
    height: 95%;
}

.react-multiple-carousel__arrow {
    background: rgb(255, 48, 85);
    box-shadow: 5px 5px 15px rgba(0.08, 0.08, 0.08, 0.08);
}

.react-multiple-carousel__arrow:hover {
    background: rgb(255, 48, 85);
    box-shadow: 5px 5px 15px rgba(0.08, 0.08, 0.08, 0.08);
}

.promo {
    max-width: 1140px;
    margin: 0 70px 0;
}

.promo__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 300px;
}

.carousel__city {
    margin-top: 10px;
}

.carousel__title {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.carousel__text {
    text-align: center;
    margin: 0 30px 30px;
    line-height: 25px;
}

.carousel__image {
    margin: 0 30px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 700px;
    height: 90%;
}

.carousel__date {
    margin-top: 0;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 30px;
}


@media screen and (max-width: 768px) {
    .promo {
        margin: 0 30px;
    }

    .carousel__title {
        text-align: center;
    }

    .carousel__image {
        width: 500px;
        height: 0;
    }

}

@media screen and (max-width: 550px) {
    .promo {
        margin: 0 10px;
    }

    .carousel__title {
        text-align: center;
    }

    .carousel__image {
        margin-bottom: 10px;
        width: 300px;
        height: 0;
    }
}