.header__nav {
    display: flex;
}

.header__button-burger {
    display: none;
    margin-top: 15px;
    background-image: url(../../images/header-burger.svg);
    width: 44px;
    height: 44px;
    border: 0;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    position: absolute;
    left: 0px;
}

.header-burger-menu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s,
    opacity 0.3s linear;
    z-index: 2;
}

.header-burger-menu_background {
    background-color: rgba(0, 0, 0, 0.9);
}

.header-burger-menu__container {
    position: relative;
    max-width: 520px;
    height: 100vh;
    width: 100%;
    background: #ffffff;
    padding-top: 40px;
    box-sizing: border-box;
    margin-right: auto;
}

.header-burger-menu__close {
    background-image: url(../../images/close-icon.svg);
    width: 22px;
    height: 22px;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 35px;
    top: 80px;
}

.header-burger-menu__lists {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.header-burger__link {
    text-decoration: none;
    color: #000000;
    list-style: none;
    margin-bottom: 30px;
}

.header-burger__link-active {
    text-decoration: none;
    color: #FF3055;
    list-style: none;
    font-weight: 500;
    margin-bottom: 30px;
}

.header-burger__select {
    -webkit-border: none;
    -webkit-background: #ffffff;
    -webkit-cursor: pointer;
    -webkit-padding: 0;
    -webkit-margin-bottom: 30px;
    -webkit-height: fit-content;
    -webkit-color: #000000;
    color: #000000;
    border: none;
    background: #ffffff;
    cursor: pointer;
    padding: 0;
    margin-bottom: 30px;
    height: fit-content;
}

.header-burger__select-wd_lang {
    width: 38px;
}

.header-burger__select-wd_city {
    width: 110px;
    margin: 0 0 14px 0;
}

.header-burger-menu__profile{
    display: flex;
    margin: auto;
    text-decoration: none;
    max-width: 100px;
}

.header-burger-menu__profile-button {
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    background-color: #F9F9F9;
    border: 0;
    width: 100px;
    height: 32px;
    border-radius: 20px;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

@media screen  and (max-width: 884px) {
    .header-burger-menu_open {
        visibility: visible;
        opacity: 1;
        z-index: 2000;
    }

    .header__button-burger {
        display: block;
        left: -10px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 550px) {
    .header__button-burger {
        left: -10px;
    }
}