.popup {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s,
    opacity 0.3s linear;
}

.popup_background {
    background-color: rgba(5, 5, 5, 0.8);
}

.popup_open {
    visibility: visible;
    opacity: 1;
}

.popup__container-column{
    display: flex;
}

.popup__image {
    height: 300px;
    object-fit: contain;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popup__image-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto 30px auto;
}

.popup__composition {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    color: #A0A0A0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #FF3055;
    height: 180px;
}


.popup__composition-span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup__composition-span:last-child {
    margin-top: 0
}

.popup__price {
    color: #FF3055;
    font-weight: 400;
}

.popup__container {
    position: relative;
    max-width: 820px;
    background-color: #f7efef;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 50px 36px 50px 36px;
    box-sizing: border-box;
}

.popup__title {
    font-size: 22px;
    line-height: 29px;
    margin: 0 0 0 30px;
}

.popup-dishes__cart-button {
    background: #E8E8E8;
    color: #FF3055;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 120px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 16px;
    position: absolute;
    right: 35px;
    bottom: 65px;
}

.popup-dishes__cart-button:active {
    background: #FF3055;
    color: #E8E8E8;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 120px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 16px;
}

.popup__close-button {
    background-image: url('../../images/close-icon.svg');
    background-position: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    outline: none;
}

@media screen and (max-width: 820px) {
    .popup__container {
        max-width: 400px;
        padding: 25px 22px;
    }

    .popup__container-column {
        flex-direction: column;
    }

    .popup__title {
        font-size: 20px;
        line-height: 22px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .popup__close-button {
        top: 10px;
        width: 40px;
        height: 40px;
        background-size: contain;
    }

    .popup__image {
        margin-left: 0px;
        margin-right: 0px;
        height: 280px;
        object-fit: cover;
        margin-top: 25px;
    }

    .popup__image-text {
        margin-bottom: 10px;
    }

    .popup-dishes__cart-button {
        right: 20px;
        bottom: 30px;
    }

    .popup__composition {
        height: 130px;
    }

    .popup__composition-span {
        margin-top: 10px;
    }
}

@media screen and (max-width: 420px) {
    .popup__container {
        max-width: 300px;
        padding: 25px 22px;
    }

    .popup__title {
        margin-left: 0px;
        margin-right: 0px;
    }

    .popup__composition {
        height: 170px;
    }

    .popup-dishes__cart-button {
        bottom: 30px;
        right: 20px;
    }
    
}
