
.swiper-container {
    width: 100%; 
    max-width: calc(100% - 40px);
    margin: 0;
}

.swiper-slide {
    background-color: #F9F9F9;
    border-radius: 20px;
    max-width: 320px;
    flex-shrink: 0;
    margin: 0 20px 0 0;
    display: flex;
    overflow: hidden;
}

.swiper__image-product {
    width: 110px;
    height: 80px;
}

.swiper__button-add_active {
    background: #FF3055;
    color: #ffffff;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 130px;
    height: 45px;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
}

.swiper__button-add {
    background: #E8E8E8;
    color: #FF3055;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 130px;
    height: 45px;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
}

.swiper__image {
    margin: 20px;
    width: 110px;
    height: 80px;
}

.swiper__price {
    color: #FF3055;
    margin: 10px 0;
}

.swiper__button-add {
    margin: 0 0 10px 0;
}

.swiper__title {
    text-align: center;
}

.swiper__text {
    margin: 20px 0 0 0;
}

.swiper__weight {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .swiper-container {
        width: calc(100% - 20px); 
    }
}


@media (max-width: 480px) {
    .swiper-container{
        width: calc(100% - 10px); 
    }
}