.payment {
    max-width: 1280px;
    margin: 0 70px 20px;
    border: 2px solid #A0A0A0;
    border-radius: 50px;
}

.payment__containers {
    margin: 50px 40px;
}

.payment__container {
    border-bottom: 1px solid #FF3055;
    margin-bottom: 50px;
}

.payment__container-title {
    display: flex;
    justify-content: space-between;
}

.payment__title-sum {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 10px 30px 0;
}

.payment__title-sell {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 10px 30px 0;
}

.payment__title-total {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 10px 30px 0;
}

.payment__price-sum {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 0 30px 0;
    color: #FF3055;
    text-align: end;
}

.payment__price-sell {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 0 30px 0;
    color: #FF3055;
    text-align: end;
}

.payment__price-total {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 0 30px 0;
    color: #FF3055;
    text-align: end;
}

.payment__checkbox {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
    max-width: 800px;
}

.payment__input {
    margin-right: 10px;
}

.payment__text {
    color: #FF3055;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
}

.payment__area {
    display: flex;
    justify-content: center;
}

.payment__area-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__btn-cash {
    background-image: url(../../images/purse.svg);
    width: 85px;
    height: 65px;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.payment__btn-card {
    background-image: url(../../images/card-credit.svg);
    width: 85px;
    height: 65px;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.payment__btn-text_cash {
    margin-bottom: 0px;
    font-weight: 500;
    margin-right: 30px;
}

.payment__btn-text_card {
    margin-bottom: 0;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #FF3055;
    border-bottom: 4px solid #FF3055;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .payment {
        margin: 50px 30px;
    }

    .payment__containers {
        margin: 30px;
    }

    .payment__area-box { 
        margin: 0;
    }

    .payment__btn-text_cash {
        margin-right: 20px;
    }

    .payment__btn-text_card {
        margin-right: 0;
    }
}

@media screen and (max-width: 550px) {
    .payment {
        margin: 50px 10px;
    }

    .payment__containers {
        margin: 20px;
    }

    .payment__area-box { 
        margin: 0;
    }

    .payment__btn-text_cash {
        margin-right: 10px;
        text-align: center;
    }

    .payment__btn-text_card {
        margin-right: 0;
        text-align: center;
    }
}